In [42]:
import urllib3                     # 避免认证警告
urllib3.disable_warnings()

import requests

from bs4 import BeautifulSoup

r=requests.get("https://century21.com/real-estate/new-york-city-ny/LCNYNEWYORKCITY/?", verify=False) 
c=r.content

soup=BeautifulSoup(c,"html.parser")


all=soup.find_all("div",{"class":"property-card-primary-info"})

In [43]:
len(all)

20

In [47]:
l=[]
base_url="https://century21.com/real-estate/new-york-city-ny/LCNYNEWYORKCITY/?p="
for page in range(0,3,1):
      print(base_url+str(page))                            #可以生成对应的多个网页
      r=requests.get(base_url+str(page),verify=False)       #将 verify=False 加到此处，避免error
      c=r.content
      soup=BeautifulSoup(c,"html.parser")
      all=soup.find_all("div",{"class":"property-card-primary-info"}) 
      for item in all:
            d={}
            try:
                    d["Address"]=item.find("div",{"class":"property-address"}).text.replace("\n","").replace(" ","")
            except:
                    print("")

            try:
                    d["Price"]=item.find("a",{"class":"listing-price"}).text.replace("\n","").replace(" ","")
            except:
                    print("")

            try:       
                    d["Beds"]=item.find("div",{"class":"property-beds"}).find("strong").text
            except:
                    print("")

            try: 
                    d["Baths"]=item.find("div",{"class":"property-baths"}).find("strong").text
            except:
                    print("")       
                    
            try:        
                    d["Half-baths"]=item.find("div",{"class":"property-half-baths"}).find("strong").text
            except:
                    print("")

            l.append(d)         #将创建的dictionary 加入到library中

https://century21.com/real-estate/new-york-city-ny/LCNYNEWYORKCITY/?p=0















https://century21.com/real-estate/new-york-city-ny/LCNYNEWYORKCITY/?p=1















https://century21.com/real-estate/new-york-city-ny/LCNYNEWYORKCITY/?p=2

In [48]:
import pandas                           #通过pandas创建数据表
df=pandas.DataFrame(l)

In [49]:
df

                      Address       Price Beds Baths Half-baths
0         641FifthAvenue27-D2  $1,695,000    1     1          1
1       333East55thStreet4A4A    $500,000  NaN     1        NaN
2       319East50thStreet10-J    $399,000  NaN     1        NaN
3         321East54thStreet6E    $345,000  NaN     1        NaN
4   434East52ndStreetPH/TOWER  $4,250,000    3     2          1
5         245SeventhAvenue3-A  $2,999,000    3     2          1
6         70East93rdStreet3-B    $749,000    2     1        NaN
7              1070ParkAve10C  $2,495,000    3     3        NaN
8        455East51stStreet2-C  $1,495,000    2     1        NaN
9        324East50thStreet6-D    $499,000    1     1        NaN
10          118East95thStreet  $7,495,000    4     3          1
11          502ParkAvenue12-G  $3,795,000    2     2        NaN
12      303East57thStreet19-G    $700,000    2     1          1
13      250East53rdStreet1101  $2,195,000    2     2          1
14       250West27thStreet2-C  $1,295,000    2     1        NaN
15              420E51stSt11B    $430,000    1     1        NaN
16      303East57thStreet12-G    $399,000    2     1          1
17      319East50thStreet12-K    $600,000    1     1        NaN
18      291SeventhAvenue8-FLR  $4,295,000    3     2          1
19           284FifthAvenuePH  $3,595,000    3     3        NaN
20        641FifthAvenue27-D2  $1,695,000    1     1          1
21      333East55thStreet4A4A    $500,000  NaN     1        NaN
22      319East50thStreet10-J    $399,000  NaN     1        NaN
23        321East54thStreet6E    $345,000  NaN     1        NaN
24  434East52ndStreetPH/TOWER  $4,250,000    3     2          1
25        245SeventhAvenue3-A  $2,999,000    3     2          1
26        70East93rdStreet3-B    $749,000    2     1        NaN
27             1070ParkAve10C  $2,495,000    3     3        NaN
28       455East51stStreet2-C  $1,495,000    2     1        NaN
29       324East50thStreet6-D    $499,000    1     1        NaN
30          118East95thStreet  $7,495,000    4     3          1
31          502ParkAvenue12-G  $3,795,000    2     2        NaN
32      303East57thStreet19-G    $700,000    2     1          1
33      250East53rdStreet1101  $2,195,000    2     2          1
34       250West27thStreet2-C  $1,295,000    2     1        NaN
35              420E51stSt11B    $430,000    1     1        NaN
36      303East57thStreet12-G    $399,000    2     1          1
37      319East50thStreet12-K    $600,000    1     1        NaN
38      291SeventhAvenue8-FLR  $4,295,000    3     2          1
39           284FifthAvenuePH  $3,595,000    3     3        NaN
40    235East57thStreet17F17F  $1,149,000    2     2        NaN
41               333E91stSt7C  $1,695,000    3     2        NaN
42           319E50thStreet6B    $359,000    1     1        NaN
43       550West29thStreet7-A  $4,450,000    3     3          1
44      333East53rdStreet8-ML  $1,175,000    2     2        NaN
45     400East56thStreet23-RS  $1,800,000    3     2          1
46    206East95thStreet,#5A5A    $648,500    1     1        NaN
47           206E95thStreet5A    $648,500    1     1        NaN
48      227East57thStreet15-D    $595,000    1     1        NaN
49      400East56thStreet17-O    $789,000    1     1          1
50       531East88thStreet2-B    $799,999    2     1          1
51      411East57thStreet12-B    $599,000    1     1        NaN
52              303E57thSt31G    $560,000    3     3          1
53      418East59thStreetPH-B  $2,980,000    3     3        NaN
54       324East50thStreet1-B    $550,000    1     1        NaN
55          1100ParkAvenue6-C  $5,950,000    3     3        NaN
56      207East57thStreet34-A  $3,650,000    3     3        NaN
57      411East53rdStreet4-DE  $1,990,000    3     3        NaN
58      440East57thStreet18-A  $1,695,000    2     2        NaN
59       153East57thStreet2-F    $388,000  NaN     1        NaN

In [50]:
df.to_csv("Output_newyork.csv")